html{
  font-family: Tahoma;
}

.bg-img{
  background-repeat: no-repeat;">
  background-size: cover;
}

.navItems{
  text-decoration: none;
}

 .centr{
   text-align: center;
 }

.para{
  text-align: center;
  padding-top: 5px;
  font-size: 16px'
}

.content{
   padding-top: 25px;
}

.checkout{
  display :none;
}

.space-left{
  padding-left: 10px;
}

.space-right{
  padding-right: 10px;
}

.space-up{
  padding-top: 10px;
}

.space-down{
  padding-bottom: 10px;
}

.txt-sm{
  font-size: 10px;
}

.txt-md{
  font-size: 15px;
}

.txt-lg{
  font-size: 32px;
}
